
camera_with_fps.cpp
Images/
ImagesForAssignment1/
saltandpepper/

dog/

GuestureClassifier/dataset/
GuestureClassifier/databackup/

159731.xcworkspace/

**/*.pdf
**/*.ppt
**/*.docx
**/*.pptx
**/*.doc
**/*.zip
**/**/*.xcodeproj/**
**/build/**
**/*.pbxproj