
camera_with_fps.cpp
Images/
ImagesForAssignment1/
saltandpepper/

dog/
ml/

GuestureClassifier/dataset/
GuestureClassifier/databackup/
GuestureClassifier/dataset_09/
GuestureClassifier/dataset_small/
RLIMS-template-LaTeX/

159731.xcworkspace/

**/*.pdf
**/*.ppt
**/*.docx
**/*.pptx
**/*.doc
**/*.zip
**/**/*.xcodeproj/**
**/build/**
**/*.pbxproj